/* ===========================================================
   PONDOK PESANTREN ALMUSLIM
   Khidmah • Istiqomah • Berkah
=========================================================== */

/*==========================
    GOOGLE FONT
===========================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/*==========================
    ROOT
===========================*/

:root{

    --primary:#0B6E4F;
    --secondary:#F5B301;
    --dark:#111827;
    --black:#000;
    --white:#ffffff;
    --gray:#666;
    --light:#f5f7fa;

    --shadow:0 10px 30px rgba(0,0,0,.12);
    --radius:15px;
    --transition:.4s;

}


/*==========================
    RESET
===========================*/

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Poppins',sans-serif;
    background:var(--white);
    color:#222;
    overflow-x:hidden;
    line-height:1.7;

}

img{

    width:100%;
    display:block;

}

a{

    text-decoration:none;

}

ul{

    list-style:none;

}

.container{

    width:90%;
    max-width:1200px;
    margin:auto;

}


/*==========================
    SECTION
===========================*/

section{

    padding:100px 0;

}

.section-header{

    text-align:center;
    margin-bottom:60px;

}

.section-header span{

    color:var(--secondary);
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:2px;

}

.section-header h2{

    font-size:40px;
    margin-top:10px;
    color:var(--dark);

}

.section-header p{

    max-width:700px;
    margin:20px auto;
    color:var(--gray);

}


/*==========================
    NAVBAR
===========================*/

header{

    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:999;

    background:rgba(0,0,0,.45);
    backdrop-filter:blur(12px);

}

.navbar{

    width:90%;
    max-width:1200px;

    margin:auto;

    height:85px;

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.logo{

    display:flex;
    align-items:center;
    gap:15px;

}

.logo img{

    width:60px;

}

.logo h2{

    color:white;
    font-size:24px;

}

.logo span{

    color:#ddd;
    font-size:13px;

}

.nav-menu{

    display:flex;
    gap:35px;

}

.nav-menu a{

    color:white;
    font-weight:500;
    transition:.3s;

}

.nav-menu a:hover{

    color:var(--secondary);

}

.btn-nav{

    background:var(--secondary);
    color:#000;

    padding:13px 25px;

    border-radius:40px;

    font-weight:600;

    transition:.4s;

}

.btn-nav:hover{

    transform:translateY(-4px);

    box-shadow:0 12px 30px rgba(245,179,1,.45);

}


/*==========================
    HERO
===========================*/

.hero{

    min-height:100vh;

    padding-top:140px;
    padding-bottom:80px;

    background:

        linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
        url("../img/hero.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    position:relative;
    overflow: hidden;

}

.hero-content{


max-width:1200px;

margin:auto;

padding:0 20px;

    color:white;

    z-index:10;

}

.hero-logo{

    width:130px;

    margin:auto;
    margin-bottom:25px;

}

.sub-title{

    letter-spacing:4px;

    color:var(--secondary);

    text-transform:uppercase;

    font-size:15px;

    margin-bottom:20px;

}

.hero h1{

    font-size:70px;

    line-height:1.2;

    margin-bottom:15px;

    font-weight:800;

}

.hero h1 span{

    color:var(--secondary);

}

.hero h3{

    font-size:26px;

    color:#ddd;

    margin-bottom:25px;

}

.hero-text{

    max-width:720px;

    margin:auto;

    font-size:18px;

    color:#f5f5f5;

}


/*==========================
    BUTTON
===========================*/

.hero-button{

    margin-top:45px;

    display:flex;

    justify-content:center;

    gap:20px;

}

.btn-primary{

    background:var(--secondary);

    color:#111;

    padding:15px 35px;

    border-radius:40px;

    font-weight:700;

    transition:.4s;

}

.btn-primary:hover{

    transform:translateY(-5px);

    box-shadow:0 15px 35px rgba(245,179,1,.45);

}

.btn-secondary{

    border:2px solid white;

    color:white;

    padding:15px 35px;

    border-radius:40px;

    transition:.4s;

}

.btn-secondary:hover{

    background:white;

    color:#000;

}


/*==========================
    SCROLL
===========================*/

.scroll-down{

    position:absolute;

    bottom:35px;

    left:50%;

    transform:translateX(-50%);

    color:white;

    font-size:28px;

    animation:scroll 1.5s infinite;

}

@keyframes scroll{

    0%{

        transform:translate(-50%,0);

    }

    50%{

        transform:translate(-50%,10px);

    }

    100%{

        transform:translate(-50%,0);

    }

}

/*========================================
ABOUT
========================================*/

.about{

    padding:120px 0;

    background:white;

}

.about .container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

    align-items:center;

}

.about-image{

    position:relative;

}

.about-image img{

    border-radius:25px;

    box-shadow:0 25px 50px rgba(0,0,0,.15);

}

.section-tag{

    color:var(--secondary);

    font-weight:700;

    text-transform:uppercase;

    letter-spacing:2px;

}

.about-content h2{

    font-size:48px;

    margin:15px 0 25px;

    color:var(--dark);

}

.about-content p{

    color:#666;

    margin-bottom:18px;

    text-align:justify;

}

.about-list{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:18px;

    margin:35px 0;

}

.about-list div{

    display:flex;

    align-items:center;

    gap:12px;

    font-weight:500;

}

.about-list i{

    color:var(--primary);

    font-size:20px;

}

.about-image::before{

    content:"";

    position:absolute;

    width:120px;

    height:120px;

    border:8px solid var(--secondary);

    top:-25px;

    left:-25px;

    border-radius:20px;

    z-index:-1;

}

.about-image::after{

    content:"";

    position:absolute;

    width:120px;

    height:120px;

    border:8px solid var(--primary);

    bottom:-25px;

    right:-25px;

    border-radius:20px;

    z-index:-1;

}


/*=========================================================
VISION
=========================================================*/

.vision{

    background:#f7faf8;

}

.vision-grid{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;

}

.vision-card{

    background:#fff;
    padding:45px;
    border-radius:20px;
    text-align:center;

    box-shadow:var(--shadow);

    transition:.4s;

}

.vision-card:hover{

    transform:translateY(-12px);

}

.vision-card i{

    width:90px;
    height:90px;

    background:var(--primary);

    color:#fff;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:34px;

    margin:auto;
    margin-bottom:25px;

}

.vision-card h3{

    margin-bottom:20px;
    color:var(--primary);

}

.vision-card ul{

    margin-top:20px;

}

.vision-card li{

    margin:12px 0;
    color:#555;

}


/*=========================================================
PROGRAM
=========================================================*/

.program{

    background:#fff;

}

.program-grid{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;

}

.program-card{

    background:#fff;

    padding:40px 30px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

    transition:.4s;

    border-top:5px solid transparent;

}

.program-card:hover{

    transform:translateY(-12px);

    border-color:var(--secondary);

}

.program-card i{

    width:90px;
    height:90px;

    border-radius:50%;

    background:rgba(11,110,79,.1);

    display:flex;
    justify-content:center;
    align-items:center;

    margin:auto;
    margin-bottom:25px;

    font-size:38px;

    color:var(--primary);

}

.program-card h3{

    margin-bottom:15px;

    color:var(--dark);

}

.program-card p{

    color:#666;

}


/*=========================================================
FACILITY
=========================================================*/

.facility{

    background:#f8f9fa;

}

.facility-grid{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;

}

.facility-card{

    background:white;

    padding:35px;

    text-align:center;

    border-radius:20px;

    transition:.4s;

    box-shadow:var(--shadow);

}

.facility-card:hover{

    background:var(--primary);

    transform:translateY(-10px);

}

.facility-card:hover h3,
.facility-card:hover p,
.facility-card:hover i{

    color:white;

}

.facility-card i{

    font-size:45px;

    color:var(--secondary);

    margin-bottom:20px;

}

.facility-card h3{

    margin-bottom:15px;

}

.facility-card p{

    color:#666;

}


/*=========================================================
STATISTICS
=========================================================*/

.statistics{

    background:linear-gradient(rgba(11,110,79,.92),rgba(11,110,79,.92)),
    url("../img/stat.jpg");

    background-size:cover;
    background-position:center;

    color:white;

}

.statistics .section-header h2,
.statistics .section-header p{

    color:white;

}

.stats-grid{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;

}

.stats-card{

    text-align:center;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    border-radius:20px;

    padding:40px;

}

.stats-card i{

    font-size:45px;

    color:var(--secondary);

    margin-bottom:20px;

}

.stats-card h2{

    font-size:45px;

    margin-bottom:10px;

}

.stats-card p{

    color:#eee;

}
/*=========================================================
GALLERY
=========================================================*/

.gallery{

    background:#ffffff;

}

.gallery-grid{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;

}

.gallery-grid img{

    width:100%;
    height:280px;

    object-fit:cover;

    border-radius:18px;

    cursor:pointer;

    transition:.4s;

    box-shadow:0 12px 25px rgba(0,0,0,.12);

}

.gallery-grid img:hover{

    transform:scale(1.05);

    box-shadow:0 25px 45px rgba(0,0,0,.25);

}



/*=========================================================
TESTIMONIAL
=========================================================*/

.testimonial{

    background:#f8f9fa;

}

.testimonial-grid{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;

}

.testimonial-card{

    background:white;

    padding:35px;

    border-radius:20px;

    box-shadow:var(--shadow);

    transition:.4s;

    position:relative;

}

.testimonial-card:hover{

    transform:translateY(-10px);

}

.testimonial-card::before{

    content:"\201C";

    position:absolute;

    top:15px;
    left:20px;

    font-size:80px;

    color:rgba(245,179,1,.2);

    font-family:serif;

}

.testimonial-card p{

    margin-top:30px;

    color:#666;

}

.testimonial-card h4{

    margin-top:25px;

    color:var(--primary);

}



/*=========================================================
PPDB
=========================================================*/

.ppdb{

    background:
    linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)),
    url("../img/ppdb.jpg");

    background-size:cover;
    background-position:center;

    text-align:center;

    color:white;

}

.ppdb h2{

    font-size:45px;

    margin-bottom:20px;

}

.ppdb p{

    max-width:700px;

    margin:auto;

    margin-bottom:40px;

    color:#eee;

}



/*=========================================================
CONTACT
=========================================================*/

.contact{

    background:white;

}

.contact-box{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.contact-box div{

    background:#fff;

    border-radius:20px;

    padding:40px;

    text-align:center;

    box-shadow:var(--shadow);

    transition:.4s;

}

.contact-box div:hover{

    transform:translateY(-10px);

}

.contact-box i{

    width:80px;

    height:80px;

    border-radius:50%;

    background:var(--primary);

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:auto;

    margin-bottom:20px;

    font-size:30px;

}

.contact-box h3{

    margin-bottom:15px;

    color:var(--primary);

}

.contact-box p{

    color:#666;

}



/*=========================================================
FOOTER
=========================================================*/

footer{

    background:#081c15;

    color:white;

    padding:70px 0 20px;

}

.footer-grid{

    display:grid;

    grid-template-columns:2fr 1fr 1fr;

    gap:40px;

}

.footer-grid h2{

    color:var(--secondary);

    margin-bottom:20px;

}

.footer-grid h3{

    margin-bottom:20px;

}

.footer-grid ul li{

    margin-bottom:12px;

}

.footer-grid ul li a{

    color:#ddd;

    transition:.3s;

}

.footer-grid ul li a:hover{

    color:var(--secondary);

    padding-left:5px;

}

.footer-grid p{

    color:#d6d6d6;

    line-height:1.8;

}

footer hr{

    margin:50px 0 25px;

    border:none;

    border-top:1px solid rgba(255,255,255,.15);

}

.copyright{

    text-align:center;

    color:#bbb;

}



/*=========================================================
BACK TO TOP
=========================================================*/

.to-top{

    position:fixed;

    right:25px;

    bottom:25px;

    width:50px;

    height:50px;

    border-radius:50%;

    background:var(--secondary);

    color:#111;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

    text-decoration:none;

    opacity:0;

    visibility:hidden;

    transition:.4s;

    z-index:999;

}

.to-top.active{

    opacity:1;

    visibility:visible;

}



/*=========================================================
RESPONSIVE
=========================================================*/

@media(max-width:991px){

.about-content,
.vision-grid,
.program-grid,
.facility-grid,
.stats-grid,
.gallery-grid,
.testimonial-grid,
.contact-box,
.footer-grid{

grid-template-columns:1fr 1fr;

}

.hero h1{

font-size:55px;

}

.section-header h2{

font-size:34px;

}

}



@media(max-width:768px){

.navbar{

height:75px;

}

.nav-menu{

display:none;

}

.btn-nav{

display:none;

}

.hero{

padding:0 20px;

}

.hero h1{

font-size:42px;

}

.hero h3{

font-size:20px;

}

.hero-button{

flex-direction:column;

}

.about-content,
.vision-grid,
.program-grid,
.facility-grid,
.stats-grid,
.gallery-grid,
.testimonial-grid,
.contact-box,
.footer-grid{

grid-template-columns:1fr;

}

.about-box{

grid-template-columns:1fr;

}

.section-header h2{

font-size:30px;

}

}



@media(max-width:480px){

.hero-logo{

width:90px;

}

.hero h1{

font-size:34px;

}

.hero-text{

font-size:15px;

}

.section-header h2{

font-size:26px;

}

.ppdb h2{

font-size:32px;

}

}

/*==============================
HEADER ACTIVE
==============================*/

header.active{

    background:#0b6e4f;

    box-shadow:0 5px 25px rgba(0,0,0,.2);

}


/*==============================
MENU ACTIVE
==============================*/

.nav-menu a.active{

    color:var(--secondary);

}


/*==============================
ANIMATION
==============================*/

.hidden{

    opacity:0;

    transform:translateY(60px);

    transition:1s;

}

.show{

    opacity:1;

    transform:translateY(0);

}


/*==============================
LIGHTBOX
==============================*/

.lightbox{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.9);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:99999;

}

.lightbox img{

    max-width:90%;

    max-height:85%;

    border-radius:15px;

}

.lightbox .close{

    position:absolute;

    top:30px;

    right:40px;

    color:white;

    font-size:45px;

    cursor:pointer;

}

/*==================================================
HERO FEATURE
==================================================*/

.hero-feature{

    display:flex;

    justify-content:center;

    gap:25px;

    margin-top:60px;

    flex-wrap:wrap;

}

.feature-item{

    .feature-item{

flex:1;

max-width:320px;

min-width:250px;

}
    display:flex;

    align-items:center;

    gap:18px;

    padding:18px;

    border-radius:18px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    transition:.4s;

}

.feature-item:hover{

    transform:translateY(-8px);

    background:rgba(255,255,255,.15);

}

.feature-item i{

    width:60px;

    height:60px;

    border-radius:50%;

    background:var(--secondary);

    color:#111;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:24px;

}

.feature-item h4{

    color:#fff;

    margin-bottom:5px;

}

.feature-item p{

    color:#ddd;

    font-size:14px;

}

.hero-glow{

    position:absolute;

    width:600px;

    height:600px;

    border-radius:50%;

    background:rgba(245,179,1,.08);

    filter:blur(120px);

    right:-150px;

    top:-150px;

    pointer-events:none;

}

.hero h1::after{

    content:"";

    display:block;

    width:120px;

    height:4px;

    background:var(--secondary);

    margin:20px auto;

    border-radius:10px;

}

.hero-logo{

    animation:floatLogo 4s ease-in-out infinite;

}

@keyframes floatLogo{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-12px);

    }

    100%{

        transform:translateY(0);

    }

}

.hero-content>*{

    opacity:0;

    transform:translateY(40px);

    animation:heroFade .8s forwards;

}

.hero-content>*:nth-child(1){

    animation-delay:.2s;

}

.hero-content>*:nth-child(2){

    animation-delay:.4s;

}

.hero-content>*:nth-child(3){

    animation-delay:.6s;

}

.hero-content>*:nth-child(4){

    animation-delay:.8s;

}

.hero-content>*:nth-child(5){

    animation-delay:1s;

}

.hero-content>*:nth-child(6){

    animation-delay:1.2s;

}

@keyframes heroFade{

    to{

        opacity:1;

        transform:translateY(0);

    }

}

.hero-stats{

    display:flex;

    justify-content:center;

    gap:60px;

    .hero-stats{

    margin-top:60px;
    margin-bottom:50px;

}

    flex-wrap:wrap;

}

.hero-stats h2{

    color:var(--secondary);

    font-size:40px;

}

.hero-stats span{

    color:#fff;

}

.program-card{

    position:relative;

}

.program-badge{

    position:absolute;

    top:20px;

    right:20px;

    background:var(--secondary);

    color:#111;

    padding:6px 15px;

    border-radius:50px;

    font-size:13px;

    font-weight:600;

}

.program-card{

    transition:.4s;

    overflow:hidden;

}

.program-card::before{

    content:"";

    position:absolute;

    left:0;

    top:0;

    width:5px;

    height:0;

    background:var(--secondary);

    transition:.4s;

}

.program-card:hover::before{

    height:100%;

}

.program-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.program-card i{

    width:80px;

    height:80px;

    border-radius:50%;

    background:#eef8f4;

    color:var(--primary);

    display:flex;

    justify-content:center;

    align-items:center;

    margin:auto;

    font-size:34px;

    transition:.4s;

}

.program-card:hover i{

    background:var(--primary);

    color:white;

    transform:rotate(12deg) scale(1.1);

}

.program-link{

    display:inline-block;

    margin-top:20px;

    text-decoration:none;

    color:var(--primary);

    font-weight:600;

    transition:.3s;

}

.program-link:hover{

    color:var(--secondary);

    transform:translateX(5px);

}

.program{

    background:#f8fafc;

}

/*========================================
TABLET
========================================*/

@media (max-width:992px){

.container{

    width:92%;

}

.navbar{

    padding:0 25px;

}

.hero{

    padding:140px 0 80px;

}

.hero h1{

    font-size:55px;

}

.hero-text{

    width:100%;

}

.hero-feature{

    justify-content:center;

}

.feature-item{

    max-width:320px;

}

.about .container{

    grid-template-columns:1fr;

    gap:50px;

}

.about-image{

    text-align:center;

}

.about-image img{

    width:80%;

}

.vision-grid,
.program-grid,
.facility-grid,
.stats-grid{

    grid-template-columns:repeat(2,1fr);

}

.gallery-grid{

    grid-template-columns:repeat(2,1fr);

}

.contact-box{

    grid-template-columns:1fr;

}

.footer-grid{

    grid-template-columns:1fr 1fr;

}

}

/*========================================
MOBILE
========================================*/

@media (max-width:768px){

.navbar{

    height:75px;

    padding:0 20px;

}

.menu-toggle{

    display:block;

}

.nav-menu{

    position:fixed;

    top:0;

    right:-100%;

    width:280px;

    height:100vh;

    background:#0b6e4f;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:30px;

    transition:.4s;

    z-index:1000;

}

.nav-menu.active{

    right:0;

}

.nav-menu li{

    list-style:none;

}

.nav-menu li a{

    color:white;

    font-size:20px;

}

.mobile-ppdb{

    display:inline-block;

    background:#f5b301;

    color:#111 !important;

    padding:12px 30px;

    border-radius:50px;

    margin-top:15px;

    font-weight:600;

}

.btn-nav{

    display:none;

}

.btn-nav{

    display:none;

}

.logo h2{

    font-size:20px;

}

.logo span{

    font-size:12px;

}

.hero{

    padding:120px 20px 80px;

}

.hero-logo{

    width:90px;

}

.hero h1{

    font-size:38px;

    line-height:1.2;

}

.hero h3{

    font-size:18px;

}

.hero-text{

    font-size:15px;

}

.hero-button{

    flex-direction:column;

    gap:15px;

}

.btn-primary,
.btn-secondary{

    width:100%;

    text-align:center;

}

.hero-feature{

    flex-direction:column;

    align-items:center;

}

.feature-item{

    width:100%;

    max-width:100%;

}

.hero-stats{

    gap:30px;

}

.hero-stats h2{

    font-size:28px;

}

.section-header h2{

    font-size:30px;

}

.about .container{

    grid-template-columns:1fr;

}

.about-image img{

    width:100%;

}

.about-list{

    grid-template-columns:1fr;

}

.vision-grid,
.program-grid,
.facility-grid,
.stats-grid,
.gallery-grid{

    grid-template-columns:1fr;

}

.program-card,
.facility-card,
.stats-card{

    padding:30px;

}

.gallery-grid img{

    height:230px;

}

.footer-grid{

    grid-template-columns:1fr;

    text-align:center;

}

.footer-grid ul{

    padding:0;

}

}

/*========================================
SMALL MOBILE
========================================*/

@media (max-width:480px){

.hero h1{

    font-size:30px;

}

.hero-text{

    font-size:14px;

}

.section-header h2{

    font-size:26px;

}

.hero-stats{

    flex-direction:column;

    gap:20px;

}

.feature-item{

    padding:15px;

}

.feature-item h4{

    font-size:16px;

}

.feature-item p{

    font-size:13px;

}

.program-card h3{

    font-size:20px;

}

.about-content h2{

    font-size:32px;

}

}

/*=====================================
HAMBURGER
=====================================*/

.menu-toggle{

    display:none;

    font-size:28px;

    color:white;

    cursor:pointer;

    z-index:1001;

}

.mobile-ppdb{

    display:none;

}

.menu-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.45);

    opacity:0;

    visibility:hidden;

    transition:.4s;

    z-index:999;

}

.menu-overlay.active{

    opacity:1;

    visibility:visible;

}